<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h2>Selecciona un Deporte</h2>
    <div class="button-group">
      <a href="/form/futbol"><button>Fútbol</button></a>
      <a href="/form/basquet"><button>Básquet</button></a>
      <a href="/form/voleibol"><button>Voleibol</button></a>
      <a href="/form/tocho"><button>Tocho Bandera</button></a>
    </div>
    <a href="/consultar"><button>Ver Registros</button></a>
      <a href="/formtutor"><button>Formulario de autorización</button></a>
     <a href="/formdescuento"><button>Formulario de descuento</button></a>
     <a href="/reglas">conoce las reglas de cada deporte</a>
          <a href="/cierre"><button>Cierre de la pagina</button></a>

  </div>
</body>
</html>
